.main_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(33, 33, 33);
}

.lights_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 40px 10px rgb(58, 57, 57);
}

.red {
  background-color: red;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  box-shadow: 0px 0px 40px 10px red;
}
.yellow {
  background-color: yellow;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  box-shadow: 0px 0px 40px 10px yellow;
}
.green {
  background-color: green;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  box-shadow: 0px 0px 40px 10px green;
}

.opacity {
  opacity: 0.3;
}
