* {
  margin: 0;
}

/* ? App.jsx Styles */
.main-container {
  background-color: #f1e9d2;
  width: 100vw;
  height: 100vh;
}

/* ? WordGuessingGame.tsx Styles */

.line {
  border-top: 1px solid #a5a19a;
  width: 100vw;
}

.top-line {
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  height: 1.8px;
  width: 100vw;
}

.lines {
  display: flex;
  flex-direction: column;
  gap: 45px;
  position: relative;
}

.side-line {
  height: 100vh;
  width: 1.8px;
  border-left: 1px solid red;
  border-right: 1px solid red;
  position: absolute;
  left: 140px;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
}

.title {
  position: absolute;
  top: 135px;
  left: 150px;
  font-size: 30px;
}

.asterisk {
  font-size: 35px;
}

.rules-title {
  font-size: 24px;
  position: absolute;
  left: 190px;
  top: 242px;
}

.rules {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  left: 200px;
  top: 297px;
  font-size: 18px;
}

.excellent {
  color: green;
}

.can-improve {
  color: orange;
}

.try-again {
  color: rgb(255, 63, 63);
}

.result {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pencil-line {
  transform: rotate(90deg);
  position: absolute;
  left: 400px;
  top: 50%;
}

.letter-dash {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 7px;
}

.guess-box {
  position: absolute;
  right: 100px;
  top: 243px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashes {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 64px;
}

.guess-title {
  font-size: 24px;
}

.letter-pool {
  margin-top: 50px;
  margin-left: 20px;
}

.rect {
  width: 550px;
  position: absolute;
  left: -20px;
  top: -15px;
}

.letter-pool div {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 10px;
}

.letter {
  width: 35px;
  height: 35px;
  border: 1.5px solid black;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
