* {
  margin: 0;
}

/* ? App.jsx Styles */
.main-container {
  background-color: #f1e9d2;
  width: 100vw;
  height: 100vh;
}

/* ? WordGuessingGame.tsx Styles */

.line {
  border-top: 1px solid #a5a19a;
  width: 100vw;
}

.top-line {
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  height: 1.8px;
  width: 100vw;
}

.lines {
  display: flex;
  flex-direction: column;
  gap: 45px;
  position: relative;
}

.side-line {
  height: 100vh;
  width: 1.8px;
  border-left: 1px solid red;
  border-right: 1px solid red;
  position: absolute;
  left: 140px;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
}

.title {
  position: absolute;
  top: 135px;
  left: 150px;
  font-size: 30px;
}

.asterisk {
  font-size: 35px;
}

.rules-title {
  font-size: 24px;
  position: absolute;
  left: 190px;
  top: 242px;
}

.rules {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  left: 200px;
  top: 297px;
  font-size: 18px;
}

.excellent {
  color: green;
}

.can-improve {
  color: orange;
}

.try-again {
  color: rgb(255, 63, 63);
}

.result {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pencil-line {
  transform: rotate(90deg);
  position: absolute;
  left: 400px;
  top: 50%;
}

.letter-dash {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 7px;
}

.guess-box {
  position: absolute;
  right: 65px;
  top: 243px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashes {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 64px;
}

.guess-title {
  font-size: 24px;
}

.letter-pool {
  margin-top: 48px;
  margin-left: 20px;
  position: relative;
}

.rect {
  width: 550px;
  position: absolute;
  left: -44px;
  bottom: -26px;
  z-index: 1;
}

.letter-pool-box {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 9px;
  z-index: 2;
  position: relative;
  align-content: center;
}

.letter {
  width: 35px;
  height: 35px;
  border: 1.5px solid black;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.red {
  background-color: red;
  color: #f1e9d2;
}

.green {
  background-color: green;
  color: #f1e9d2;
}

.transparent {
  background-color: transparent;
}

.letter:hover {
  scale: 110%;
}

.letter-box {
  width: 45px;
  height: 45px;
  background: transparent;
  border-radius: 7px;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.drop-area {
  display: flex;
  gap: 25px;
  position: absolute;
  top: 76px;
  left: 90px;
}

.circle {
  width: 200px;
}

.marks-circle {
  margin-top: 100px;
  margin-left: 300px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* gap: 100px; */
}

.teacher-marks-line {
  transform: rotate(161deg);
  border-top: 2px solid red;
  width: 227px;
  top: 60px;
  position: absolute;
}

.max-marks {
  position: absolute;
  font-size: 30px;
  transform: rotate(-31deg);
  bottom: 14px;
  right: 75px;
  color: red;
}

.scored-marks {
  position: absolute;
  top: 13px;
  left: 76px;
  transform: rotate(-21deg);
  font-size: 30px;
  color: red;
}

.error {
  position: absolute;
  top: 143px;
  font-size: 16px;
  color: red;
}

.game-message {
  position: absolute;
  bottom: 30px;
  left: -10px;
  font-size: 36px;
  transform: rotate(-13deg);
  color: red;
}
